.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.btnClicked {
  background-color: green;
}

.ListScreen {
  margin-left:20px;
  margin-right:20px;
}

.listScreenList {
  display:inline-block;
  font-size: 48pt;
  margin-left:60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul.listScreenList {
  list-style: none;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: .5rem;
  background: #eee;
  margin-left: 3rem;
  display:flex;
  flex-direction: column;
  width: 10%;
  flex-wrap: wrap;
  align-items: center;
}

ul.listScreenList:before {
  font-size:1rem;
  color: blue;
}
ul.listScreenList:nth-of-type(1):before {
  content: "Column 1";
}
ul.listScreenList:nth-of-type(2):before {
  content: "Column 2";
}
ul.listScreenList:nth-of-type(3):before {
  content: "Column 3";
}
ul.listScreenList:nth-of-type(4):before {
  content: "Column 4";
}
ul.listScreenList:nth-of-type(5):before {
  content: "Column 5";
}

.ListScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listScreenList li {
  height: 5rem;
}

table {
  display: flex;
  flex-wrap: wrap;
}

table tr {
  width: 100%;
  display: flex;
}

table td {
  width: 50%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.puzzleButton {
  width: 100%;
  max-width: 500px;
  margin: 2rem;
  cursor:pointer;
  background: #eee;
  border: 1px solid #ccc;
  transition: .25s ease all;
  font-size: 60pt;
}

.puzzleButton:hover {
  box-shadow: .25rem .25rem .5rem #666;
}

.losses, .wins {
  width: 32%;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}